In [1]:
import erbe_hobo as eh

In [3]:
df=eh.read_hobo_file('sensor1_ben.csv',convert_to_farenheit=True)
df.head()

sensor1_ben.csv

variable_name,#,Temp,Coupler Attached,Host Connected,Stopped,End Of File,Temp
units,NaN,째F,NaN,NaN,NaN,NaN,째C
serial_text,NaN,"LGR S/N: 10469238, SEN S/N: 10469238",LGR S/N: 10469238,LGR S/N: 10469238,LGR S/N: 10469238,LGR S/N: 10469238,"LGR S/N: 10469238, SEN S/N: 10469238"
"Date Time, GMT+00:00",,,,,,,
2014-03-31 07:00:00,1,69.622,NaN,NaN,NaN,NaN,20.901111
2014-03-31 07:30:00,2,69.622,NaN,NaN,NaN,NaN,20.901111
2014-03-31 08:00:00,3,69.449,NaN,NaN,NaN,NaN,20.805000
2014-03-31 08:30:00,4,69.622,NaN,NaN,NaN,NaN,20.901111
2014-03-31 09:00:00,5,69.964,NaN,NaN,NaN,NaN,21.091111